# CLARIN-DK DSpace 7 Configuration
# Note: Most settings are provided via docker-compose environment variables
# This file contains additional settings not covered by env vars

# Disable S3 storage (not used in CLARIN-DK setup)
s3.download.direct.enabled = false
s3.upload.by.parts.enabled = false
sync.storage.service.enabled = false

# Handle configuration
handle.prefix = 20.500.12115
handle.additional.prefixes = 20.500.12115

# Mail configuration (from v5 setup)
mail.server = smtprelay.adm.ku.dk
mail.server.port = 25
mail.from.address = admin@clarin.dk
mail.admin = admin@clarin.dk
mail.server.disabled = false

# CLARIN-DK specific settings
lr.dspace.name.short = CLARIN-DK-UCPH Repository
lr.help.mail = info@clarin.dk
lr.help.url = https://info.clarin.dk/en/helpdesk/

dspace.name = CLARIN-DK-UCPH Centre Repository
dspace.ui.url = https://dspace.clarin.dk
dspace.server.url = https://dspace.clarin.dk/server

# Shibboleth DiscoJuice IdP feed
shibboleth.discofeed.allowed = true
shibboleth.discofeed.url = https://dspace.clarin.dk/Shibboleth.sso/DiscoFeed

# Authentication plugins - enable Shibboleth alongside password auth
plugin.sequence.org.dspace.authenticate.AuthenticationMethod = org.dspace.authenticate.PasswordAuthentication,org.dspace.authenticate.clarin.ClarinShibAuthentication
